.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background: var(--secondary-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1rem;
  margin: 0rem;
}

.user-input {
  margin-top: 1rem;
  display: flex;
}

.user-input input[type="text"] {
  flex: 2;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 0rem;
}
input:focus {
  box-shadow: 0 0 10px var(--primary-color);
  border: 1px solid var(--primary-color);
}
::placeholder {
  color: gray;
  font-family: "Lilita One";
}

button {
  font-family: "Lilita One";
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  transition: 1s;
  outline: none;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

button:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

ul {
  padding-left: 0rem;
}

li {
  list-style-type: none;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  width: 1rem;
  height: 1rem;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

label {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  label {
    font-size: 1rem;
  }
}

@media (max-width: 470px) {
  .user-input button,
  .user-input input[type="text"] {
    font-size: 12px;
    padding: 0.5rem;
  }
}
